:root{
    --primary: 45, 123, 216; // 6c00ff
    --secondary: 13, 34, 55;
    --tertiary: 208, 231, 254;
    --background:248, 248, 248;
    --info: 255, 132, 43
}

html{
    overflow: hidden !important;
}

$fontSizes : (
    'small': 12px,
    'regular': 14px,
    'medium': 16px,
    'large': 18px,
    'larger': 22px,
    'largest': 24px,
);

@each $fontName, $fontSize in $fontSizes {
    .font-#{$fontName} { 
        font-size: $fontSize;
    }
}

.scrollbar {
    scroll-behavior: smooth;
    margin-right: 0;
  
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
      margin: 0;
      cursor: pointer;
    }
  
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: transparent;
      cursor: pointer;
    }
  
    &::-webkit-scrollbar-thumb {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: #0000003A;
      border-radius: 4px;
      cursor: pointer;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: #0000003A;
      cursor: pointer;
    }
  }
  